<!DOCTYPE html>
<html>
    <head>
        <!-- TODO: move to a new app called common or similar -->
        <title>Learning Log</title>
    </head>
    <body>
        <p>
            {% if user.is_authenticated %}
                Hello {{ user.username }}!
                <a href="{% url 'users:logout' %}">log out</a>
            {% else %}
                <a href="{% url 'users:login' %}">log in</a>
                <a href="{% url 'users:register' %}">register</a>
            {% endif %}
        </p>
        <p>
            <a href="{% url 'learning_logs:index' %}">Learning Log</a>
            <a href="{% url 'learning_logs:topics' %}">Topics</a>
        </p>
        {% block content %} {% endblock content %}
    </body>
</html>